/* src/styles/TopicViewer.css */
.topic-viewer {
  background: white;
  border-radius: 4px;
  margin-top: 1rem;
}

.topic-viewer p {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.topic-viewer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
